<svg width='100%' height='100%'></svg>

{{#if tooltipTarget}}
  {{#modal-dialog
    tetherTarget=tooltipTarget
    targetAttachment='top middle'
  }}
    <p>Hello, tooltip!</p>
  {{/modal-dialog}}
{{/if}}
