<div class="flex">
  <div class="flex-auto ph4">
    {{bar-chart data=authorData}}
  </div>
  <div class="flex-auto ph4">
    {{bar-chart}}
  </div>
  <div class="flex-auto ph4">
    {{bar-chart}}
  </div>
</div>